<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="#">
	<title>Multiple Databases</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
	<div class="container mt-4">
		<h1>Spring Boot Multiple Databases</h1>
		<button id="tenant_1" class="btn btn-primary">Database 1</button>
		<button id="tenant_2" class="btn btn-primary">Database 2</button>
		<pre class="output">
			
		</pre>
	</div>
	<script>
		$(function () {
			$('button').click(function () {
				const id = $(this).attr('id');
				$.ajax({
					url: '/offices',
					type: 'GET',
					dataType: 'json',
					headers: {
						'X-TenantID': id
					},
					contentType: 'application/json; charset=utf-8',
					success: function (data) {
						let result = JSON.stringify(data, undefined, 4);
						$('.output').text(result);
					},
					error: function (error) {

					}
				});
			});
		});
	</script>
</body>

</html>