<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#">
    <title layout:title-pattern="$CONTENT_TITLE - MyApp">MyApp</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/script/jquery-3.7.1.slim.min.js}"></script>
    <script th:src="@{/script/bootstrap.min.js}"></script>
    <script defer th:src="@{/script/alpinejs-3.15.0.js}"></script>
</head>
ad>
</head>
<body>
    <!-- Header -->
    <div th:insert="fragments/header :: header"></div>
    <!-- Nội dung trang con -->
    <main layout:fragment="content">
        Nội dung mặc định
    </main>
</body>
</html>
