<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#">
    <title layout:title-pattern="$CONTENT_TITLE - MyApp">MyApp</title>
    <!-- <link rel="stylesheet" th:href="@{/css/style.css}"> -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/script/jquery-3.7.1.slim.min.js}"></script>
    <script th:src="@{/script/bootstrap.min.js}"></script>
</head>
</head>
<body>
    <!-- Header -->
    <div th:insert="fragments/header :: header"></div>
    <!-- Nội dung trang con -->
    <main layout:fragment="content">
        Nội dung mặc định
    </main>
    <!-- Footer -->
<!--    <div th:insert="fragments/footer :: footer"></div>-->
</body>
</html>
