<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Profile</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<!-- css -->
	<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
</head>
<body>
	<h1 th:utext="#{web.title}"></h1>
	<h2>Profile</h2>
	<ul>
		<!-- Duyệt qua toàn bộ phần tử trong "listProfile" -->
		<li th:each="p: ${listProfile}">
			<!-- Với mỗi phần tử, lấy ra key và value-->
			<span th:text="*{p.key}"></span> : <span th:text="*{p.value}"></span>
		</li>
	</ul>
	<h2><a href="/">Back Index</a></h2>
</body>
</html>
