<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<context:annotation-config />
	<!-- Auto-wiring "no" -->
	<!-- <bean id="person" class="com.autowire.Person">
		<property name="name" value="java.com"></property>
		<property name="age" value="25"></property>
		<property name="address" ref="address"></property>
	</bean>
		<bean id="address" class="com.autowire.Address">
		<property name="country" value="Viet Nam"></property>
		<property name="province" value="Ha Noi"></property>
		<property name="district" value="Thanh Xuan"></property>
	</bean> -->
	
	<!-- Autowired "byType, byName, constructor" -->
	<bean id="person" class="com.autowire.Person" autowire="constructor">
		<property name="name" value="java.com"></property>
		<property name="age" value="25"></property>
	</bean>
	<bean class="com.autowire.Address">
		<property name="country" value="Viet Nam"></property>
		<property name="province" value="Ha Noi"></property>
		<property name="district" value="Thanh Xuan"></property>
	</bean>

</beans>
